/* Color Pallet:
#0f3057
#00587a
#008891
#e7e7de */

h1,h2,h3,h4,h5,h6 {
  font-family: 'Noto Sans', sans-serif;
}

p {
  font-family: 'Noto Serif', serif;
}

.container-fluid {
  padding: 3% 15%;
}

#presentation {
  background-color: #0f3057;
}

.navbar-brand {
  color: #e7e7de;
  font-family: 'Noto Sans', sans-serif;
}

.nav-link {
  color: #00587a;
  font-family: 'Noto Serif', serif;
}

.presentation-name {
  color: #e7e7de;
  display: inline-block;
}
.presentation-role {
  color: #e7e7de;
}

.presentation-info {
  color: #008891;
}

#about {
  background-color: #e7e7de;
}

.about-box {

}

.about-icon {
  color: #0f3057;
  display: inline-block;
  font-size: 2rem;
  text-align:center;
  width: 100%;
}

.about-icon:hover {
  color: #008891;
}

.about-title {
  color: #0f3057;
  text-align:center;
}

.about-description {
  color: #00587a;
  text-align:center;
}

#experience {
  background-color: #00587a;
}

.experience-title{
  color: #e7e7de;
}

.experience-place {
  color: #0f3057;
}

.experience-description {
  color: #008891;
}

#skills {
  background-color: #e7e7de;
}

.skills-title {
  color: #0f3057;
}

.skill-name {
  color: #0f3057;
}

.skill-level {
  color: #0f3057;
}

.skill-level-description {
  color: #008891;
}

#contact {
  background-color: #00587a;
}

.contact-title {
  color: #e7e7de;
}

.contact-icon {
  color: #008891;
  display: inline-block;
  font-size: 2rem;
  text-align:center;
  width: 100%;
}

.contact-platform {
  color: #e7e7de;
}

.contact-info {
  color: #e7e7de;
  text-align: right;
}

#footer {
  background-color: #0f3057;
}

.footer-text {
  color: #008891;
  text-align: center;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { ... }

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { ... }

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { ... }

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { ... }
