/* Color Pallet:
#222831
#393E46
#FFD369
#EEEEEE */

/* Overall Style */

h1,h2,h3,h4,h5,h6 {
  font-family: "Roboto Mono";
  font-weight: bold;
}

p {
  font-family: "Roboto";
  margin-bottom: 0.5rem;
}

.container-fluid {
  padding: 3% 10%;
}

.bg-color-main{
  background-color: #222831;
}
.color-main{
  color: #222831;
} 
.bg-color-alt{
  background-color: #393E46;
}
.color-alt{
  color: #393E46;
} 
.bg-color-highlight{
  background-color: #FFD369;
}
.color-highlight{
  color: #FFD369;
} 
.bg-color-filler{
  background-color: #EEEEEE;
}
.color-filler{
  color: #EEEEEE;
} 

/* Navbar */

.navbar-brand {
  font-family: "Cinzel";
  font-size: 1.5rem;
  font-weight: 600;
}

.nav-link {
  font-family: "Cinzel";
  font-weight: 400;
}

/* OffCanvas */
.square {
  border-radius: 20%;
  display: inline-block;
  padding: 0.45rem;
}

/* Presentation */

.profile-img {
  border-radius: 100%;
}

/* Personal Info */

/* Characteristics */

.char-icon{
  font-size: 2em;
  padding-bottom: 0.5rem;
}

/* Experience */

.button-link-vessel{
  padding: 0 1%;
}

/* Logos */

/* Footer */

#footer {
  text-align: center;
}

.footer-text {
  font-family: "Cinzel";
  font-weight: 400;
}

/* MEDIA QUERIES */

.hr-display{
  display: none;
}

/* mobile devices */
@media only screen and (max-width: 480px) {
  .hr-display{
    display: block;
  }

  #characteristics{
    height: 15rem;
    position: relative;
  }
  #characteristics #characteristics-carousel{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
  }
}

/* iPads & tablets */
@media only screen and (min-width: 481px) and (max-width: 768px){
  .hr-display{
    display: block;
  }

  #characteristics{
    height: 15rem;
    position: relative;
  }
  #characteristics #characteristics-carousel{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
  }
}

/* small screens like laptop */
@media only screen and (min-width: 769px) and (max-width: 1024px){
  #presentation .container-fluid{
    padding-left: 20%;
    padding-right: 20%;
  }
}

/*  large screens like Desktops and extra large screens like TV */
@media only screen and (min-width: 1025px){
  #presentation .container-fluid{
    padding-left: 20%;
    padding-right: 20%;
  }
}